In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('reviews.csv')

In [3]:
df.head()

      username          whisky  rating
0   SlawofCole  hibiki-21-year     4.5
1     ticalx00  hibiki-21-year     4.0
2      cycolac  hibiki-21-year     5.0
3  aquaquack11  hibiki-21-year     4.5
4   phat_tommy  hibiki-21-year     5.0