In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('reviews.csv')

In [4]:
whisky_review_counts = df['whisky'].value_counts()
thewhiskies = whisky_review_counts[whisky_review_counts > 3].index
filtered_df = df[df['whisky'].isin(thewhiskies)]

In [5]:
filtered_df

           username               whisky  rating
0        SlawofCole       hibiki-21-year     4.5
1          ticalx00       hibiki-21-year     4.0
2           cycolac       hibiki-21-year     5.0
3       aquaquack11       hibiki-21-year     4.5
4        phat_tommy       hibiki-21-year     5.0
...             ...                  ...     ...
102201   jayhines13  noah-s-mill-bourbon     4.0
102202   Scotchdale  noah-s-mill-bourbon     5.0
102203   johnnylats  noah-s-mill-bourbon     5.0
102204    gnorquist  noah-s-mill-bourbon     3.0
102205        brent  noah-s-mill-bourbon     4.0

[102148 rows x 3 columns]

In [6]:
filtered_df.to_csv('review_filtered.csv', index=False)